@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --primary-color: rgb(67, 170, 19);
  --primary-hover-color: rgb(81, 255, 0);
}

* {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(to top, rgba(0, 255, 0, 0.37) 1%, rgba(20, 199, 59, 0.2), white);
}

.content-wrapper {
  background-color: white;
  width: 55%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.image-box {
  position: relative;
  height: 100%;
}

.image-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(159, 167, 161, 0), rgba(77, 199, 20, 0.466));
  z-index: 1;
  mix-blend-mode: screen;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-box header span {
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 5px;
  border-bottom: 3px solid var(--primary-color);
  padding-bottom: 5px;
}

.content-box .form-item label {
  color: black;
  padding-left: 7px;
  font-weight: 500;
  font-size: 1.1em;
  letter-spacing: 2px;
}

.form-box {
  width: 100%;
}

.content-box input:not([type="submit"]) {
  width: 100%;
  padding: 0.7em 1.1em;
  border-radius: 30px;
  border: 2px solid var(--primary-color);
}

.content-box input:focus {
  border-color: var(--primary-hover-color);
  box-shadow: 1px 1px 8px var(--primary-hover-color);
  outline: none;
}

.content-box .sub-btn input {
  font-size: 0.9em;
  font-weight: 500;
  border-radius: 8px;
  padding: 5px 12px;
  border: none;
  cursor: pointer;
  color: white;
  background-color: var(--primary-color);
}

.content-box .sub-btn input:hover {
  background-color: var(--primary-hover-color);
}

.content-box .error-msg {
  color: red;
  padding-left: 7px;
}

.content-box .form-box a {
  color: var(--primary-color);
  cursor: pointer;
}

.content-box .form-box a:hover {
  color: var(--primary-hover-color);
}

.content-box .center.py-1 > span {
  font-weight: 500;
}

@media screen and (max-width: 1200px) {
  .content-box .form-box.px-4 {
    padding: 0;
  }
}

@media screen and (max-width: 1100px) {
  form.px-4 {
    padding: 1em 1.7em;
  }
}

@media screen and (max-width: 1000px) {
  .content-wrapper {
    width: 65%;
  }
}

@media screen and (max-width: 800px) {
  .content-wrapper {
    width: 75%;
  }
}

@media screen and (max-width: 700px) {
  .content-wrapper {
    width: 85%;
  }
}

@media screen and (max-width: 600px) {
  .content-wrapper {
    grid-template-columns: auto;
  }

  .image-box {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    left: 0;
  }

  .image-box img {
    filter: brightness(10%);
  }

  .image-box::before {
    background: linear-gradient(rgba(48, 51, 49, 0.589), rgba(61, 143, 23, 0.158));
  }

  .content-box {
    z-index: 2;
  }

  .content-box .form-box label {
    color: white;
  }
  .content-box .form-box span {
    color: white;
  }
  .image-box::before {
    background: linear-gradient(rgba(159, 167, 161, 0), rgba(61, 143, 23, 0.466));
  }
  form.px-4 {
    padding: 0;
  }
}

/* -------------------------- Input Box for SignIn -------------------------- */
.content-box .signup input:not([type="submit"]) {
  padding: 6px 12px;
}

.form-box .signup label {
  font-size: 1em;
}
